 <!-- <div id="timing">asdasd</div> -->
@model  NBT.Web.Framework.Models.WebSettingsVm
<div id="preloaderKDZ"></div>
<div class="gtrip-site">
    <header class="@ViewBag.StyleHeader">
        <!--style-2-->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="top-sidebar top-bar-left col-md-8">
                        <aside id="text-11" class="widget widget_text">
                            <div class="textwidget">
                                <i class="fa fa-envelope" aria-hidden="true"></i> @Model.CompanyEmail<i style="margin-left: 15px" class="fa fa-phone" aria-hidden="true"></i> @Model.Phone
                            </div>
                        </aside>
                    </div>
                    <div class="top-sidebar top-bar-right col-md-4">
                        <aside id="text-6" class="widget widget_text" style="display: none">
                            <div class="textwidget"><a href="">Register</a> | <a href=""><i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-top header-top-style-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3 pull-left">
                            <div class="header-logo">
                                <h1><a href="/"><img src="/images/icon/Logo.png" alt="logo" /></a></h1>
                            </div>
                        </div>
                        <div class="col-md-9 pull-left">
                            <div class="header-slogan">Global Trip <span class="slogan">Explore the world by your own creation</span></div>
                        </div>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="main-nav-wrapper">
                            <nav id="primary-menu" class="main-nav pull-left">
                                <ul class="nav">
                                    <li class="menu-item">
                                        <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="active menu-item">
                                        <a href="/tour">Tour</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/blog">Blog</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/visa">Dịch Vụ Visa</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/ticket">Tham Quan</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/contact">Liên Hệ</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="pull-right">
                                <div class="shopping-cart-icon">
                                    <div class="widget_shopping_cart_content">
                                        <div class="widget_shopping_cart_icon"><a href="/cart/index"><i class="wicon fa fa-shopping-bag"></i><span class="total">0</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mobile-menu">
            <div class="col-3 text-left"><a id="primary-menu" href="#"><i class="fa fa-bars"></i></a></div>
            <div class="col-3 text-center">
                <div class="logo">
                    <h1><a href="index.html"><img src="/images/icon/mobile-logo.png" alt="logo" /></a></h1>
                </div>
            </div>
            <div class="col-3 text-right">
                <div class="header-right">
                    <div class="search-button-wrapper header-customize-item style-default">
                        <div class="icon-search-menu">
                            <div class="widget_shopping_cart_icon"><a href="/cart/index"><i class="wicon fa fa-shopping-bag"></i><span class="total">0</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav id="my-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="/tour">Tour</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/visa">Dịch Vụ Visa</a>
                </li>
                <li>
                    <a href="/ticket">Tham Quan</a>
                </li>
                <li>
                    <a href="/contact">Liên Hệ</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
