<div class="div-box mt mb">
    <div class="home-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="home-services-scroll">
                        <div class="home-services-scrollx">
                            <div class="home-navigation-content domestic pull-left">
                                <a href="/tour/?domestic=true">
                                    <img src="/images/icon/vietnam.png" alt="product1" class="" /><span class="home-navigation-text">Tour </br> Trong nước</span>
                                </a>
                            </div>
                            <div class="home-navigation-content oversea pull-left">
                                <a href="/tour/?domestic=false">
                                    <img src="/images/icon/earth.png" alt="product1" class="" />
                                    <span class="home-navigation-text">Tour </br> Ngoài nước</span>
                                </a>
                            </div>
                            <div class="home-navigation-content booking pull-left">
                                <div class="plane mb20">
                                    <a href="">
                                        <img src="/images/icon/plane.png" alt="product1" class="" />
                                        <span class="home-navigation-text">Vé máy bay</span>
                                    </a>
                                </div>
                                <div class="clearfix">
                                    <div class="train pull-left">
                                        <a href="">
                                            <img src="/images/icon/train.png" alt="product1" class="" />
                                            <span class="home-navigation-text">Vé tàu</span>
                                        </a>
                                    </div>
                                    <div class="bus pull-right">
                                        <a href="">
                                            <img src="/images/icon/bus.png" alt="product1" class="" /><span class="home-navigation-text">Vé xe</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="home-navigation-content ticket pull-left">
                                 <a href="/ticket">
                                    <img src="/images/icon/tickets.png" alt="product1" class=""/>
                                    <span class="home-navigation-text">Vé tham quan ghép tour</span>
                                </a>
                              </div>
                            <div class="home-navigation-content information" style="margin-right: 0px;">
                                <div class="visa mb20">
                                    <a href="/visa">
                                        <img src="/images/icon/visa.png" alt="product1" class="" />
                                    </a>
                                </div>
                                <div class="hotel">
                                    <a href="">
                                        <img src="/images/icon/hotel.png" alt="product1" class="" /><span class="home-navigation-text">Khách sạn</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
