<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Chức năng</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
                            <button class="btn btn-success" ui-sref="addTour"><i class="fa fa-plus"></i> Thêm mới tour</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="filter" placeholder="Từ khóa">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="search()">Tìm</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group-sm">
                                <ui-select ng-required="true" ng-model="condition.countryRegionId" name="CountryRegion" theme="bootstrap" style="min-width: 300px;" title="Chọn quốc gia">
                                    <ui-select-match allow-clear="true" placeholder="Chọn quốc gia">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in countryRegions | filter: $select.search">
                                        <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group-sm">
                                <ui-select ng-required="true" ng-model="condition.stateProvinceId" name="stateProvince" theme="bootstrap" style="min-width: 300px;" title="Chọn Tp">
                                    <ui-select-match allow-clear="true" placeholder="Chọn Tp">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in stateProvinces | filter: {CountryRegionId: condition.countryRegionId}">
                                        <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group-sm">
                                <ui-select ng-required="true" ng-model="condition.tourType" name="tourType" theme="bootstrap" style="min-width: 300px;" title="Chọn loại tour">
                                    <ui-select-match allow-clear="true" placeholder="Chọn loại tour">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in tourTypes">
                                        <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary">Hiển thị</button>
                                </span>
                                <select ng-model="pageSize" class="form-control">
                                    <option value="20" selected>20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách tour</h3>
                </div>
                <div class="box-header">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10%">Hình</th>
                            <th>Tiêu đề</th>
                            <th style="width: 10%">Mã tour</th>
                            <th style="width: 10%">Giá</th>
                            <th style="width: 10%">Hiển thị</th>
                            <th style="width: 10%">Thao tác</th>
                        </tr>
                        <tr ng-repeat="item in data">
                            <td><img class="img-link" ng-src="{{item.Image}}" width="80" height="80" /></td>
                            <td>
                                {{item.Name}}
                            </td>
                            <td>
                                {{item.Code}}
                            </td>
                            <td>{{item.Price | number:0}}</td>
                            <td style="text-align:center">
                                <span class="{{item.IsShow | filterBoolClass}}">{{item.IsShow | filterBoolText}}</span>
                            </td>
                            <td>
                                <a class="btn btn-sm btn-primary" ui-sref="editTour({id:item.Id})"><i class="fa fa-pencil"></i></a>
                                <button class="btn btn-sm btn-danger" ng-click="del(item)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>