<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Chức năng</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-success" ui-sref="addTourAttribute"><i class="fa fa-plus"></i> Thêm mới</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Chỉ mục thông tin tour</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10%">Tên chỉ mục</th>
                        </tr>
                        <tr ng-repeat="item in data">
                            <td><a ui-sref="editTourAttribute({id:item.Id})">{{item.Name}}</a></td>
                        </tr>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>